* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #ffffff;
}

.hidden {
  display: none;
}
.fondo-video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
}
.header .navbar {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  width: 100%;
  padding: 1rem 4rem;
  margin: 0 auto;
}
.header .navbar .brand {
  font-family: inherit;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: inherit;
  text-transform: uppercase;
  color: #ffffff;
}
.header .navbar .menu {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
}
.header .navbar .menu-item:not(:first-child) {
  margin-left: 2rem;
}
.header .navbar .menu-item a {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: inherit;
  color: #fab78c;
  text-transform: uppercase;
}



@media only screen and (max-width: 768px) {
  .header .navbar {
    padding: 1rem 2rem;
    margin: 0 auto;
  }
  .header .navbar .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background: #5e5e5e;
    transition: all 0.3s ease;
  }
  .header .navbar .wrapper .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    width: 100%;
    transform: translateY(-50%);
  }
  .header .navbar .wrapper .menu-item {
    padding-bottom: 1rem;
    width: 100%;
    text-align: left;
  }
  .header .navbar .wrapper .menu-item:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .header .navbar .wrapper .menu-item:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .header .navbar .wrapper .menu-item:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .header .navbar .wrapper .menu-item:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .header .navbar .wrapper .menu-item:not(:first-child) {
    margin-left: 0;
  }
  .header .navbar .wrapper .menu-item a {
    padding: 1rem 2rem;
    opacity: 0;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    transform: translateX(-20px);
    transition: all 0.3s ease-in-out;
  }
  .header .navbar .nav-toggle {
    display: block;
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 999;
  }
  .header .navbar .nav-toggle span {
    display: block;
    width: 41px;
    height: 10px;
    background: #ffffff;
    border-radius: 2px;
    margin-left: -4px;
  }
  .header .navbar .nav-toggle span:nth-child(1) {
    margin-top: 16px;
  }
  .header .navbar .nav-toggle span:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .header .navbar .nav-toggle span:nth-child(3) {
    margin-top: 4px;
  }
  .header .navbar #nav:checked + .nav-toggle {
    transform: rotate(45deg);
  }
  .header .navbar #nav:checked + .nav-toggle span {
    background: #252a32;
    transition: transform 0.5s ease;
  }
  .header .navbar #nav:checked + .nav-toggle span:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }
  .header .navbar #nav:checked + .nav-toggle span:nth-child(2) {
    opacity: 0;
  }
  .header .navbar #nav:checked + .nav-toggle span:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }
  .header .navbar #nav:checked ~ .wrapper {
    z-index: 99;
    opacity: 1;
  }
  .header .navbar #nav:checked ~ .wrapper .menu-item a {
    opacity: 1;
    transform: translateX(0);
  }
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* asdasdas */
.bdt-timeline-container {
  display: flow-root;
  box-sizing: content-box;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
}

.upk-xnac-slide-wrapper {
  background: #2B2D42;
}

.upk-xnac-single-slide-wrap {
  height: 100%;
  width: 100%;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item {
  display: flex;
  align-items: center;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-image-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-image-wrap::before {
  position: absolute;
  content: none;
  height: 80px;
  width: 10px;
  background: #f00;
  left: 35%;
  bottom: 0;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-img {
  width: 100%;
  height: 194px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  background: #ef233c;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-content-wrap {
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  left: 0;
  max-width: 618px;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-title a {
  text-decoration: none;
  color: #edf2f4;
  transition: all 0.3s ease;
  background: #ef233c;
  padding: 0 8px;
  -webkit-box-decoration-break: clone;
  line-height: 30px;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-title a:hover {
  background: #D90429;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-meta-box-wrap {
  display: inherit;
  align-items: center;
  overflow: hidden;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-author {
  display: flex;
  align-items: center;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-author-img img {
  width: 45px;
  border-radius: 50px;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-author-text {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #8D99AE;
  text-transform: uppercase;
  padding-left: 15px;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-author-text .upk-name {
  text-decoration: none;
  margin-bottom: 6px;
  transition: all 0.3s ease;
  color: #cacdce;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-author-text .upk-name:hover {
  color: #D90429;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-button-wrap {
  margin-left: 100px;
  display: none;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-button-wrap a {
  text-decoration: none;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #ef233c;
  color: #ef233c;
  background: transparent;
  padding: 10px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s ease;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-button-wrap a i {
  padding-left: 8px;
}
.upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-button-wrap a:hover {
  color: #EDF2F4;
  border-color: #D90429;
  background: #D90429;
}

.upk-xnac-pagination-wrap {
  display: none;
}
.upk-xnac-pagination-wrap .swiper-pagination {
  bottom: unset;
  display: inline-grid;
  top: 50%;
  right: 3.5%;
  transform: translateY(-50%);
}
.upk-xnac-pagination-wrap .swiper-pagination-bullet {
  width: 7px;
  height: 35px;
  display: inline-block;
  border-radius: 0;
  background: #EDF2F4;
  margin: 2px 0;
}

.upk-xnac-thumbs-slide-wrap {
  width: 100%;
  margin: auto !important;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item {
  position: relative;
  cursor: pointer;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-image-wrap {
  width: 100%;
  height: 100%;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-image-wrap::before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: #000;
  content: "";
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-img {
  height: 97px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.3;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-content {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  color: #c6cbce;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-title a {
  text-decoration: none;
  color: #c6cbce;
  transition: all 0.3s ease;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-title a:hover {
  color: #D90429;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-category {
  text-decoration: none;
  color: #ef233c;
  position: relative;
  padding-right: 8px;
  transition: all 0.3s ease;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-category::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "";
  height: 11px;
  width: 1px;
  background: #8d99ae;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-category:hover {
  color: #D90429;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-date {
  padding-left: 8px;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-category-date {
  display: flex;
  align-items: center;
  font-size: 9px;
  text-transform: uppercase;
  color: #959ba6;
  margin-bottom: 5px;
  font-weight: 700;
}
.upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item.swiper-slide-active .upk-img {
  opacity: 0.7;
}

.swiper-container {
  margin-left: unset;
  margin-right: unset;
}

.upk-xnac-thumb-slide-navi-wrap {
  display: flex;
  align-items: center;
  position: relative;
  background: #2B2D42;
  transition: all 0.3s ease;
}

.upk-xnac-thumb-navi-wrap {
  display: none;
}
.upk-xnac-thumb-navi-wrap .upk-next-prev {
  transform: rotate(-90deg);
  font-size: 18px;
  color: #EDF2F4;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}
.upk-xnac-thumb-navi-wrap .upk-next-prev i {
  opacity: 0;
  transition: all 0.3s ease;
}
.upk-xnac-thumb-navi-wrap .upk-next-prev:hover {
  color: #D90429;
}
.upk-xnac-thumb-navi-wrap .upk-next-prev:hover i {
  opacity: 1;
}
.upk-xnac-thumb-navi-wrap .upk-button-prev i {
  padding-right: 10px;
}
.upk-xnac-thumb-navi-wrap .upk-button-next i {
  padding-left: 10px;
}

@media (min-width: 768px) {
  .upk-xnac-single-slide-wrap {
    height: 100%;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-content-wrap {
    padding-left: 50px;
    padding-right: 0;
    max-width: 500px;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-title {
    font-size: 28px;
    margin-bottom: 35px;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-img {
    width: 64.4%;
    height: 267px;
    padding: 0 70px 10px 0;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-image-wrap::before {
    height: 40px;
    content: "";
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-author-text {
    font-size: 12px;
    padding-left: 12px;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-button-wrap {
    margin-left: 30px;
    display: inherit;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-button-wrap a {
    padding: 8px 12px;
    font-size: 12px;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-meta-box-wrap {
    display: flex;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-pagination-wrap {
    display: inherit;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-pagination-wrap .swiper-pagination {
    right: 35px;
  }

  .upk-xnac-thumbs-slide-wrap {
    width: 81%;
  }
  .upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-img {
    height: 112px;
  }
  .upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-content {
    padding: 20px;
  }
  .upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-category-date {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-title {
    font-size: 14px;
  }

  .upk-xnac-thumb-navi-wrap {
    display: inherit;
  }
  .upk-xnac-thumb-navi-wrap .upk-next-prev {
    font-size: 12px;
  }
  .upk-xnac-thumb-navi-wrap .upk-button-next {
    right: 12px;
  }
  .upk-xnac-thumb-navi-wrap .upk-button-prev {
    left: 5px;
  }
}
@media (min-width: 1024px) {
  .bdt-timeline-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-title {
    font-size: 42px;
    line-height: 58px;
    margin-bottom: 80px;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-content-wrap {
    padding-left: 100px;
    max-width: 668px;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-img {
    height: 507px;
    padding: 0 100px 10px 0;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-image-wrap::before {
    height: 70px;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-author-text {
    font-size: 14px;
    padding-left: 15px;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-button-wrap {
    margin-left: 100px;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-slide-item .upk-xnac-button-wrap a {
    padding: 10px 15px;
    font-size: 14px;
  }
  .upk-xnac-single-slide-wrap .upk-xnac-pagination-wrap .swiper-pagination {
    right: 50px;
  }

  .upk-xnac-thumbs-slide-wrap {
    width: 79%;
  }
  .upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-img {
    height: 226px;
  }
  .upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-content {
    padding: 40px;
  }
  .upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-category-date {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .upk-xnac-thumbs-slide-wrap .upk-xnac-slide-item .upk-xnac-title {
    font-size: 18px;
  }

  .upk-xnac-thumb-navi-wrap .upk-next-prev {
    font-size: 18px;
  }
  .upk-xnac-thumb-navi-wrap .upk-button-next {
    right: 16px;
  }
  .upk-xnac-thumb-navi-wrap .upk-button-prev {
    left: 8px;
  }
}
@media (min-width: 1440px) {
  .upk-xnac-thumbs-slide-wrap {
    width: 86%;
  }
}
.button {
  background: #f00;
  padding: 18px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}